@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
    font-family: "Poppins";
    display: block;
    padding: 90px;

}


#text {
    font-size: 18px;
    text-align: justify;
}


.image {
    max-width: 85%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#h1 {
    text-align: center;
    color: rgb(50, 24, 199);
}